In [1]:
product = 1 
for n in range(1,10):
    product = product * n 
    
print(product)

362880

In [2]:
def to_celsius(x):
    return (x - 32)*5/9

for x in range(0,101,10):
    print(x, to_celsius(x))

0 -17.77777777777778
10 -12.222222222222221
20 -6.666666666666667
30 -1.1111111111111112
40 4.444444444444445
50 10.0
60 15.555555555555555
70 21.11111111111111
80 26.666666666666668
90 32.22222222222222
100 37.77777777777778

In [3]:
for i in range(4):
    print(i)

0
1
2
3

In [4]:
for i in [8,9,10]:
    print(i)

8
9
10

In [5]:
for left in range(7):
    for right in range(left, 7):
        print("[" + str(left) + "|" + str(right) + "]", end=" ")
    print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]
[2|2] [2|3] [2|4] [2|5] [2|6]
[3|3] [3|4] [3|5] [3|6]
[4|4] [4|5] [4|6]
[5|5] [5|6]
[6|6]

In [6]:
teams = ['Dragons', 'Wolves', 'Pandas', 'Unicorns']
for home_team in teams:
    for away_team in teams:
        if home_team != away_team:
            print(home_team + " vs " + away_team)

Dragons vs Wolves
Dragons vs Pandas
Dragons vs Unicorns
Wolves vs Dragons
Wolves vs Pandas
Wolves vs Unicorns
Pandas vs Dragons
Pandas vs Wolves
Pandas vs Unicorns
Unicorns vs Dragons
Unicorns vs Wolves
Unicorns vs Pandas

In [7]:
for n in range(12,36,6):
    print(n*2)

24
36
48
60

for n in range(6, 18, 3): print(n*2)

In [8]:
for n in range(6, 18, 3): print(n*2)

12
18
24
30

In [9]:
for n in range(6, 18, 3): print(n+2)

8
11
14
17

In [10]:
for n in range(6, 18+1, 3): print(n*2)

12
18
24
30
36

In [12]:
for n in range(19): 
    if n % 2 == 0: 
        print(n)

0
2
4
6
8
10
12
14
16
18

In [13]:
input = "Four score and seven years ago"

for c in input:
  if c.lower() in ['a', 'e', 'i', 'o', 'u']:
    print(c)

o
u
o
e
a
e
e
e
a
a
o

In [14]:
print([c for c in input if c.lower() in ['a', 'e', 'i', 'o', 'u']])

['o', 'u', 'o', 'e', 'a', 'e', 'e', 'e', 'a', 'a', 'o']

In [15]:
print([c for c in input if c.lower() in ['a', 'e', 'i', 'o', 'u']])

['o', 'u', 'o', 'e', 'a', 'e', 'e', 'e', 'a', 'a', 'o']

In [18]:
for c in range(len(input)):
  if c in ['a', 'e', 'i', 'o', 'u']:
    print(c)

In [19]:
for n in range(18 + 1):
    print(n**2)

0
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324

In [20]:
for n in range(0,18+1,2):
    print(n*2)

0
4
8
12
16
20
24
28
32
36

In [21]:
for n in range(10):
    print(n + n)

0
2
4
6
8
10
12
14
16
18

In [22]:
def factorial(n):
    if n < 2:
        return 1 
    return n * factorial(n - 1)

factorial(10)

3628800

In [23]:
def decade_counter():
    while year < 50:
        year += 10
    return year